.contact-form{
    padding: 3rem 3rem 0 3rem;
    display: flex;
    height: 62vh;
    margin-top: rem;
    
    background: #f2f1f1;
    border-radius: 20px;
}


.button{
    border-radius: 34px;
    border: none;
    color: white;
  font-size: 16px;
  padding: 11px  26px 11px 26px;
  background: linear-gradient(180deg,#fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42);
  cursor: pointer;
  }

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.awesome > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
    
}

.awesome > :nth-child(2){
    color: var(--orange);
    font-size: 1.5rem;
    font-weight: bold;
    
}





.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}


.c-right>form{
    display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
}


.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

.c-blur{
    top: 1rem;
    left: 8rem;
}


@media screen  and (max-width: 480px){
    .contact-form{

        flex-direction: column;
        height: 500px;
        margin: 0;  
        padding: 8px;
    }

    .c-right{
        display: flex;
        justify-content: center;
        position: relative;
        width: auto;
        transform: scale(0.7);
        padding: 0;
        margin: 0;
    }
    
    
  }
    