.floatingdiv{
    display: flex;
    justify-content: space-around;
    background: rgba(210, 206, 199, 0.763);
    box-shadow: var(--boxshadow);
    border-radius: 17px;
    align-items: center;
    padding: 0px 28px 0px 0px;
    height: 4rem;
}

.floatingdiv>img{
   transform: scale(0.4);
}

.floatingdiv>span{
      font-size: 16px;
      font-family: sans-serif;
 }